
:host .wrapper {
	display: block;
	width: 100%;
	/*transform: translate3d(0,0,0);*/
}

:host .upper-buffer,
:host .lower-buffer {
	display: block;
	content: ' ';
	width: 100%;
	height: 0;
}

:host .wrapper ws-event {
	font-family: var(--font-monospace);
	width: 100%;
}

:host .wrapper .socket-open,
:host .wrapper .socket-close {
	color: var(--color-white);
}

:host .wrapper .message-out {
	color: var(--color-green);
}

:host .wrapper .message-in {
	color: var(--color-teal);
}
