
:host .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	/*transform: translate3d(0,0,0);*/
}

:host .wrapper ws-event {
	font-family: var(--font-monospace);
	min-width: 50%;
}

:host .wrapper .socket-open,
:host .wrapper .socket-close {
	color: var(--color-white);
}

:host .wrapper .message-out {
	color: var(--color-green);
}

:host .wrapper .message-in {
	color: var(--color-teal);
}
