
:host input[type="text"],
:host textarea {
	padding: 5px 6px;
	font-family: var(--font-sans-serif);
	background: var(--color-grey-1);
	border: 1px var(--color-grey-3) solid;
	color: var(--color-white);
	font-size: var(--font-size-textarea);
}

:host input[type="text"]:focus,
:host textarea:focus {
	outline: 0;
}

:host input[type="text"][disabled],
:host textarea[disabled] {
	opacity: 0.6;
}

:host input[type="text"].plain-text {
	background: transparent;
	border: 0;
	padding: 0;
}
