
:host {
	/**/
}

:host .environment {
	padding: 10px 10px 50px;
	border-bottom: 2px var(--color-grey-1) solid;
	position: relative;
	background: var(--color-current-environment);
}

:host .environment h3 {
	font-size: 14px;
	padding-bottom: 10px;
}

:host .environment select {
	display: block;
	margin: 10px 0;
	width: 100%;
}

:host .environment #manage-environments {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

:host .bookmarks p {
	font-family: var(--font-sans-serif);
	color: var(--color-white);
	text-align: center;
	margin-top: 20px;
}
