
:host .wrapper {
	padding: 10px;
}

:host h1 {
	font-family: var(--font-heading);
	font-weight: 500;
	color: var(--color-white);
}

:host .connection {
	padding: 10px 0;
}

:host .send-message {
	padding: 10px 0;
}

:host #message {
	width: 100%;
	height: 75px;
	font-family: var(--font-monospace);
}
