<div class="wrapper">
	<div class="settings">
		<button id="open-settings" class="btn-flat">
			Settings
			<ws-icon value="cog-alt"></ws-icon>
		</button>
	</div>
	<div class="connection">
		<input type="text" id="url" placeholder="ws://localhost" value="wss://echo.websocket.org" />
		<button id="open-close">Open</button>
	</div>
	<div class="send-message">
		<textarea id="message" disabled></textarea>
		<br />
		<button id="send" disabled>Send</button>
	</div>
	<div class="output-controls">
		<button id="clear-output">Clear</button>
	</div>
</div>
